body{
  height: 100%;
  width: 100%;
   margin: 0;
   background: url('snakebg.jpeg') no-repeat;
   background-size: cover;
}
.container{
  margin: 0;
  width: 100%;
}

.box1{
  display: flex;
}

.title{
  font-family: 'Rock Salt', cursive;
  padding-top: 10px;
  padding-bottom: 35px;
  text-align: center;
}

/*.container:before{
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   opacity: 0.3;
   background-image: url('snakebg.jpeg');
   background-repeat: no-repeat;
   background-position: 50% 0;
   -ms-background-size: cover;
   -o-background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
}*/

.advise{
   float:left;
}
.playground{
  margin: 0 auto;
   width: 600px;
   height: 600px;
}
.dashboard{
  margin-right: 20px;
  background: white;
  height: 600px;
  width: 200px;
}
