body{
  height: 100%;
  width: 100%;
   margin: 0;
   background: url('snakebg.jpeg') no-repeat;
   background-size: cover;
}
.container{
  margin: 0;
  width: 100%;
}

.box1{
  display: flex;
}

.title{
  font-family: 'Rock Salt', cursive;
  padding-top: 10px;
  padding-bottom: 35px;
  text-align: center;
}

.advise{
   float:left;
}
.playground{
  margin: 0 auto;
   width: 600px;
   height: 600px;
}

.dashboard{
  border: 8px solid rgb(139,69,19);
  font-size: 1.5em;
  font-family: 'Reenie Beanie', cursive;
  color: rgb(243,242,242);
  background: url('board.jpg');
  background-size: cover;
  text-align: center;
  margin-right: 10%;
  height: 584px;
  width: 200px;
}

#scoreArea{
  font-weight: bold;
  color: rgb(252,108,69);
}

#lengthArea{
  font-weight: bold;
  color: rgb(178,198,105);
}
.bigger{
  font-size: 1.7em;
}
